body {
  background-image: url(../src/assets/sfondo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  height: 100vh;
  margin: 0;
}
